/* src/components/Products.css */
.hero {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(https://images.unsplash.com/photo-1546213290-e1b492ab3eee?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTV8fG9ubGluZSUyMHN0b3JlfGVufDB8fDB8fHww);
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  text-align: center;
  color: #fff; /* White text color for better readability */
  height: 20rem;
  
}


.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5rem;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.product-container:hover {
  transform: scale(1.05);
}

.product-container img {
  max-width: 100%;
  border-radius: 8px;
}

.product-container h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.product-container h3 {
  color: #f57c00;
  margin: 10px 0;
}

.product-container p {
  font-size: 1rem;
  color: #555;
}

.product-container button {
  background-color: #f57c00;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.product-container button:hover {
  background-color: #e64a19;
}
